/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    display: flex;
    font-family: theme('fontFamily.roboto');
    justify-content: center;
    background: theme('colors.prussian-blue');
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.light-mode{
background: white;
color: black;

}
/* theme('colors.prussian-blue') */
/* linear-gradient(90deg, #003153, #126180); */
