@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    display: flex;
    font-family: theme('fontFamily.roboto');
    justify-content: center;
    background: theme('colors.prussian-blue');
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
